<li class="nav-dropdown-container learn">
    <a class="nav-link">工作历程</a><span class="arrow"></span>
    <ul class="nav-dropdown">
      <li>
        <ul>
          <li><a href="<%- url_for("/company/jtsd/") %>" class="nav-link<%- page.path.match(/\/http(\/|$)/) ? ' current' : '' %>">极兔</a></li>
        </ul>
      </li>
    </ul>
</li>
  